* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

input, button, textarea {
    font-family: inherit;
}

input:-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button:-moz-focus-innesr {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

html {
    scroll-behavior: smooth;
}





/*ABOUT US*/
.section__aboutus {
    margin-top: 15%;
    display: flex;
    padding: 3% 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    position: relative;
    z-index: 11;
}

.img__aboutUS {
    display: flex;
    max-width: 45%;
}

.img__aboutUS img {
    width: 50vw;
}

.img__aboutUS h3 {
    display: none;
}

.text__aboutUS {
    width: 45%;
}

.text__aboutUS h2 {
    color: #333333;
    font-size: 2.1vw;
    font-weight: 600;
    margin-bottom: 5%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.text__aboutUS p {
    color: #333333;
    font-size: 1.6vw;
    width: 75%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
}


/*CARDS*/
.section__togaraklar {
    width: 100%;
    border-radius: 50px;
    padding: 5% 0;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

.container1 {
    background: #fdfdfd;
    width: 85%;
    margin: auto;
}

.section__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.togarak__text {
    margin: 2% 0;
}

.togarak__text h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
}

.card {
    background: whitesmoke;
    border: 2px solid #ECECEC;
    border-radius: 20px;
    width: 30%;
    height: 45%;
    padding: 30px;
    margin-bottom: 3%;
    box-sizing: border-box;
}

.card img {
    width: 6vw;
    height: 6vw;
}

.card h3 {
    margin: 2% 0;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.3vw;
    font-style: normal;
}

.card p {
    font-size: 1vw;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.card:hover {
    background: linear-gradient(274.78deg, #325DE9 0%, #548CF6 100%);
    box-shadow: 10px 10px 70px -10px rgba(42, 67, 212, 0.15);
    border-radius: 20px;
    color: #ffffff;
}

.card:hover h3 {
    color: #23FFBD;;
}


/* section students */
.students__container {
    width: 85%;
    position: relative;
    margin: auto;
    background: #FDFDFD;
}

.section__students {
    width: 100%;
    margin-top: 8%;
    padding-bottom: 4%;
    background-color: white;
    opacity: 100000;
    border-radius: 50px;
    position: relative;
    z-index: 5;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-button {
    width: 5vw;
    margin: auto;
    opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
    background: #D8DEFD;
    border-radius: 20px;
    width: 100px;
    margin-block: .5em;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2A43D4;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #23FFBD;
    margin-top: 10px;
}


.sliders {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    align-items: center;
}

.slider__img {
    background: linear-gradient(274.78deg, #325DE9 0%, #548CF6 100%);
    border-radius: 12.447px;
    width: 115%;
    height: 77%;
    margin: auto;

}

.slider:first-child {
    margin-bottom: 1%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    max-width: 220px;
}

.slider:not(:first-child) {
    margin-left: 5%;
    margin-bottom: 1%;
    scroll-behavior: smooth;
    max-width: 220px;
}

.slider__text {
    background: #fdfdfd;
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 768px) {
    .sliders {
        display: flex;
    }
    .slider h1{
        font-size: 4vh;
    }
    .slider p{
        font-size: 1.5vh;
    }
    .slider {
        width: 170px;
    }

    .slider__img img {
        width: 80%;
        margin-left: 10%;
    }

    .slider__img {
        width: 95%;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
    /*::-webkit-scrollbar-thumb{*/
    /*    width: 100px;*/
    /*    height: 20px;*/
    /*}*/
    ::-webkit-scrollbar-track {
        width: 100px;
    }

    ::-webkit-scrollbar-button {
        margin-right: 100px;
    }
}


/*raspisaniya*/
.table-raspisaniya {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card1 {
    text-align: center;
    border-radius: 20px;
    width: 13%;
    padding: 1%;
    background-color: whitesmoke;
}

.card1 h3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1vw;
    color: #424242;
    margin-bottom: 12%;
}

.card1 p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7vw;
    color: #424242;
}

.img__raspi img {
    border-radius: 4%;
}


/*slideshow*/
.section__slideshow {
    width: 100%;
    background: linear-gradient(274.78deg, #325DE9 0%, #548CF6 100%);
    z-index: 9;
    position: relative;
    border-radius: 50px;
    margin-top: -25%;
    padding-top: 35%;
    padding-bottom: 5%;
    padding-bottom: 10%;
    padding-bottom: 10%;
}

.slideshow-container {
    width: 85%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    text-align: center;
}
.mySlides img{
    width: 70vw;
}
.mySlides img{
    width: 70vw;
}
.mySlides img{
    width: 70vw;
}

.arrows__slideshow {
    width: 100%;
    margin-bottom: 7%;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    margin-top: -22px;
    padding: 5%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}

.prev img, .next img {
    width: 4vw;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active1, .dot:hover {
    background-color: #23FFBD;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}


.nav-brand {
    display: none;

}

@media screen and (max-width: 475px){
    .arrows__slideshow {
        margin-bottom: 10%;
    }
    .prev img, .next img{
        width: 10vw;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
    .mySlides {
        text-align: center;
    }
    .mySlides img{
        width: 100%;
    }
    .header__links{
        margin-top: -15%;
    }

    .header__link {
        font-size: 1.3vw;
    }

    .nav-brand {
        display: flex;
    }

    .burger {
        position: fixed;
        top: 0.5%;
        right: 1%;
        z-index: 100;
    }

    .menu-btn {
        width: 18vw;
        height: 18vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .2s ease-in-out;
        border: 3px solid #325DE9;
        background-color: whitesmoke;
        border-radius: 50%;
    }

    .menu-btn__burger {
        width: 8vw;
        height: 4px;
        background: #325DE9;
        border-radius: 5px;
        margin: -10px 0;
        transition: all .2s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 8vw;
        height: 4px;
        background: #325DE9;
        border-radius: 5px;
        transition: all .2s ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background: #23FFBD;
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background: #23FFBD;
    }

    .menu-btn.open {
        border: 3px solid #23FFBD;
    }

    .scrolltop img {
        width: 10vw;
        height: 10vw;
    }
}

@media screen and (max-width: 500px) {
    .section__cards {
        display: block;
    }

    .togarak__text h2 {
        font-size: 8vw;
        text-align: center;
    }

    .card h3 {
        font-size: 4vw;
    }

    .card p {
        font-size: 2.7vw;

    }

    .card img {
        width: 14vw;
        height: 14vw;
    }

    .card {
        width: 90%;
        height: 45vw;
        margin: 6% auto;
        padding: 5%;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 476px) and (max-width: 660px) {
    .arrows__slideshow {
        margin-bottom: 10%;
    }
    .prev img, .next img{
        width: 10vw;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
    .mySlides {
        text-align: center;
    }
    .mySlides img{
        width: 100%;
    }
    .header__links {
        margin-top: -15%;
    }

    .nav-brand {
        display: flex;
    }

    .burger {
        position: fixed;
        top: 0.5%;
        right: 1%;
        z-index: 100;
    }

    .menu-btn {
        width: 13vw;
        height: 13vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border: 3px solid #325DE9;
        background-color: whitesmoke;
        border-radius: 50%;
    }

    .menu-btn__burger {
        width: 6vw;
        height: 4px;
        background: #325DE9;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 6vw;
        height: 4px;
        background: #325DE9;
        border-radius: 5px;
        transition: all .2s ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background: #23FFBD;
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background: #23FFBD;
    }

    .menu-btn.open {
        border: 3px solid #23FFBD;
    }

    .scrolltop img {
        width: 9vw;
        height: 9vw;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .section__cards {
        display: block;
    }

    .togarak__text h2 {
        font-size: 6vw;
        text-align: center;
    }

    .card h3 {
        font-size: 3.3vw;
    }

    .card p {
        font-size: 2.3vw;
    }

    .card img {
        width: 10vw;
        height: 10vw;
    }

    .card {
        width: 85%;
        height: 35vw;
        margin: 4% auto;
        padding: 5%;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 661px) and (max-width: 767px) {
    .arrows__slideshow {
        margin-bottom: 10%;
    }
    .prev img, .next img{
        width: 8vw;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
    .mySlides {
        text-align: center;
    }
    .mySlides img{
        width: 100%;
    }

    .header__links {
        margin-top: -15%;
        align-items: center;
    }

    .nav-brand {
        display: flex;
    }

    .burger {
        position: fixed;
        top: 0.5%;
        right: 1%;
        z-index: 100;
    }

    .menu-btn {
        width: 10vw;
        height: 10vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .2s ease-in-out;
        border: 3px solid #325DE9;
        background-color: whitesmoke;
        border-radius: 50%;
    }

    .menu-btn__burger {
        width: 4vw;
        height: 4px;
        background: #325DE9;
        border-radius: 5px;
        margin: -10px 0;
        transition: all .2s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 4vw;
        height: 4px;
        background: #325DE9;
        border-radius: 5px;
        transition: all .2s ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-16px);
    }

    .menu-btn__burger::after {
        transform: translateY(16px);
    }

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background: #23FFBD;
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background: #23FFBD;
    }

    .menu-btn.open {
        border: 3px solid #23FFBD;
    }


    .scrolltop img {
        width: 8vw;
        height: 8vw;
    }
}
<<<<<<< HEAD:all codes by kh/282 school project/css/second.css
=======

>>>>>>> d07f1dc12d6b89b1b29e5bf58ca3a6e5702f764f:full version/css/second.css
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .arrows__slideshow {
        margin-bottom: 10%;
    }
    .prev img, .next img{
        width: 8vw;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
    .mySlides {
        text-align: center;
    }
    .mySlides img{
        width: 100%;
    }
    .card {
        width: 45%;
        margin: 3% 2% 3% 0;
    }

    .card h3 {
        font-size: 2vw;
    }

    .card p {
        font-size: 1.5vw;
    }

}


