.footer {
padding: 5% 0;
  width: 100%;
  background-color: #333333;

  .container__footer {
    width: 85%;
    margin: auto;
    display: flex;

    .footer__logo {
      width: 33%;
    }

    .footer__nav {
      width: 33%;
      font-size: 1.3vw;

      a {
        color: aliceblue;
        text-decoration: none;
        display: block;
        margin: 4% 0;
      }
    }

    .footer__location {
      width: 33%;
.footer__map iframe{
  border-radius: 2%;
  border: 5px solid #325DE9;
  width: 25vw;
  height: 15vw;
}
      p {
        color: white;
      }

      .footer__icons {
        display: flex;
        justify-content: end;

        a {
          margin: 0 1.5%;
        }
      }
    }
  }


}