body .wrapper {
  width: 100%;
  overflow: hidden; }
  body .wrapper .header {
    width: 100%; }
    body .wrapper .header .img__header {
      width: 100%;
      height: 48.8vw; }
      body .wrapper .header .img__header img {
        width: 100%; }
      body .wrapper .header .img__header .title__header {
        position: relative;
        margin-top: -35%;
        padding-left: 10%;
        z-index: 134; }
        body .wrapper .header .img__header .title__header .img__logo img {
          width: 35vw;
          margin-bottom: 5%; }
        body .wrapper .header .img__header .title__header .text__header {
          width: 30%;
          color: white;
          font-size: 1.3vw; }
    body .wrapper .header .header__links {
      width: 80%;
      display: flex;
      justify-content: space-around;
      background-color: whitesmoke;
      align-items: center;
      padding: 0.5% 0;
      border-radius: 50px;
      position: fixed;
      top: 0;
      left: 10%;
      z-index: 50; }
      body .wrapper .header .header__links .header__item {
        position: relative;
        padding: 1%;
        cursor: pointer; }
        body .wrapper .header .header__links .header__item::before {
          content: "";
          width: 0;
          height: 2px;
          background-color: #23FFBD;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.5s linear; }
        body .wrapper .header .header__links .header__item:hover::before {
          width: 100%; }
        body .wrapper .header .header__links .header__item::after {
          content: "";
          width: 0;
          height: 2px;
          background-color: #23FFBD;
          position: absolute;
          top: 0;
          right: 0;
          transition: all 0.5s linear; }
        body .wrapper .header .header__links .header__item:hover::after {
          width: 100%; }
        body .wrapper .header .header__links .header__item .header__link {
          color: #424242;
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 1.1vw;
          text-decoration: none; }
          body .wrapper .header .header__links .header__item .header__link:hover {
            color: #21be8d; }
          body .wrapper .header .header__links .header__item .header__link::before {
            content: "";
            width: 2px;
            height: 0;
            background-color: #23FFBD;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.5s linear; }
          body .wrapper .header .header__links .header__item .header__link:hover::before {
            height: 100%; }
          body .wrapper .header .header__links .header__item .header__link::after {
            content: "";
            width: 2px;
            height: 0;
            background-color: #23FFBD;
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.5s linear; }
          body .wrapper .header .header__links .header__item .header__link:hover::after {
            height: 100%; }
      body .wrapper .header .header__links .header__item1 {
        padding: 1%;
        cursor: pointer; }
        body .wrapper .header .header__links .header__item1 .header__link {
          color: #424242;
          font-style: normal;
          font-weight: 500;
          font-size: 1.4vw;
          text-decoration: none; }
          body .wrapper .header .header__links .header__item1 .header__link:hover {
            color: #1cb182; }
  body .wrapper .header2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(274.78deg, rgba(50, 93, 233, 0.6) 0%, rgba(84, 140, 246, 0.61) 100%);
    position: absolute;
    top: 0; }

/*# sourceMappingURL=main.css.map */
